$display-todo: flex;
$content-todo: center;


h1 {
    text-align: center;
}

form.form-example, .list {
    display: $display-todo;
    justify-content: $content-todo;  
}

.item-list {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 10px 20px 20px 20px;
    padding: 10px 20px 250px;
    width: 180px;
}

.checklist {
    display: flex;
    justify-content: space-between;

}

ul li:hover{
    background-color: grey;
}
